<div class="flex flex-wrap items-center -mx-4">
    <div class="px-4 w-full lg:w-1/2 relative before:content-[''] before:absolute before:-top-10 lg:before:-top-20 before:-left-[30px] md:before:-left-[120px] before:w-[150px] md:before:w-[370px] before:h-[150px] md:before:h-[370px] before:border-[20px] md:before:border-[41px] before:border-dark_grey before:rounded-full before:-z-[1] before:opacity-20">
        <img class="w-full rounded-tl-3xl rounded-br-3xl shadow-[4px_8px_6px_rgba(0,0,0,0.10)] transition-all duration-500 transform hover:scale-105" src="{{c_photo.url}}"/>
    </div>
    <div class="px-4 w-full lg:w-1/2 pt-5 lg:pt-0 text-center lg:text-left">
        {{#each c_aboutch }}
        <div class="mb-6 last:mb-0">
            <h3 class="text-xl md:text-3xl font-semibold leading-tight mb-3 ">{{title}}</h3>
            <div class=""> {{convertRTFToHTML description}}</div>
        </div>
        {{/each}}
    </div>
</div>