<div class="breadcrumb">
    <div class="container" id="countries">
        <ul class="breadcrumb-nav" id="getvalue">
            <li class="nav-item"><a href="#" class="home"></a></li>
            {{!-- <li class="nav-item"><a href="{{c_cTA.uRL}}" class="inline-block font-bold">{{formatOption c_cTA.primaryCTA}}</a>
            </li> --}}
            <li class="nav-item Store-locator"></li>
        </ul>
    </div>
</div>