<header>

    <div class="flex p-6">
                <h1 class="LanguageTitle"></h1>
                <a class="m-2" href="/en/index.html">English</a>
                <a class="m-2" href="/fr/index.html">Français</a>
                <a class="m-2" href="/ja/index.html">日本</a>
        </div>

    <div class="relative bg-cover bg-center bg-no-repeat bg-white">
        <div class="flex p-6">
                <h1 class="LanguageTitle"></h1>
                <a class="French m-2"  id="French" href="https://master-violet--basics--casually-sbx-pgsdemo-com.sbx.preview.pagescdn.com/en/index.html"></a>
                <a class="Japanese m-2" id="japanese" href="https://master-violet--basics--casually-sbx-pgsdemo-com.sbx.preview.pagescdn.com/fr/index.html"></a>
                <a class="English m-2" id="English" href="https://master-violet--basics--casually-sbx-pgsdemo-com.sbx.preview.pagescdn.com/ja/index.html"></a>
        </div>
        <div class="container px-4 flex flex-wrap p-0 items-center justify-between lg:justify-around bg-white relative z-40">
            <a href="/" class="text-center">
                <img class="w-[150px] md:w-[243px]"
                    src="https://www.christofle.com/fstrz/r/s/c/www.christofle.com/media/logo/default/logo_christofle.png.avif?frz-v=4837"
                    alt="">
            </a>
            <button type="button" id="menu-btn" class="w-8 h-6 flex flex-col justify-between lg:hidden">
                <span class="bg-red w-full h-0.5"></span>
                <span class="bg-red w-full h-0.5"></span>
                <span class="bg-red w-full h-0.5"></span>
            </button>
        </div>
       
        <div class="text-xs bg-black fixed top-0 left-0 bottom-0 lg:static transform transform -translate-x-full lg:translate-x-0 lg:block z-30 w-full pt-14 lg:pt-0 overflow-x-hidden overflow-y-auto lg:overflow-auto transition-all duration-300" id="navigation">
            <div class="container max-w-7xl">
                

                <ul class="flex flex-col lg:flex-row justify-center text-white text-base lg:text-xs w-full">
                      {{#each c_locations}}
         {{#each c_header}}
                    <li class="px-3 xl:px-5"><a href="{{cta.link}}"
                            class="py-3 relative leading-[26px] inline-block align-bottom after:content-[''] after:absolute after:bottom-0 after:left-0 after:transition-all after:duration-500 after:w-0 after:bg-white after:h-1 hover:after:w-full uppercase">{{cta.label}}</a></li> 
                            {{/each}}
                            {{/each}}
                </ul>
            </div>
        </div>
    </div>
</header>

<script>
document.getElementById("menu-btn").onclick = function () { myFunction() };

function myFunction() {
        document.getElementById("navigation").classList.toggle("translate-x-0");
        document.getElementById("body").classList.toggle("overflow-hidden");
}
</script>