<div class="hours-list">  
  {{#with (formatHours this "Monday" "TimeFormatShort" "DateFormatShort") }}
      {{#each this.regularHours}}
      <div class="{{this.displayDay}} time-row {{#if this.isClosed}}closed{{/if}}">
          <strong class="day-name font-normal">{{this.displayDay}}</strong>
        <div class="time-content">
          {{#if this.isClosed}}<div class="Closed"></div>{{/if}}
          {{#if this.is247}}Open 24/7{{/if}}
          {{#each this.openIntervals}}
            {{this.start}}-{{this.end}}
          {{/each}}
        </div>
      </div>
      {{/each}}
  {{/with}}
</div>


<script>
  let pathName = window.location.href;
  let Closed = "Closed"

  if(pathName.includes("/fr")){
    Closed = "fermee";
  }
  if(pathName.includes("/ja")){
    Closed = "閉まっている"
  }
  $(".Closed").html(Closed)
</script>
