<div class="inline-block w-full align-middle py-5 md:py-10 bg-light_grey">
  <div class="container">
    <div
      class="full-width-locator flex flex-wrap lg:h-[calc(100vh_-_80px)] lg:max-h-[calc(100vh_-_80px)] lg:overflow-hidden relative">
      <div
        class="full-details w-full fixed lg:absolute top-0 left-0 lg:w-[530px] bottom-0 bg-light_grey z-10 transition-all transform -translate-x-full p-4 lg:p-0 lg:pr-10 overflow-x-hidden overflow-y-auto order-2 lg:order-3"
        id="full-details"></div>
      <div class="panel w-full lg:w-[480px] xl:w-[540px] h-full lg:pr-2.5 order-3 lg:order-1 mt-5 lg:mt-0">
        <div class="header-section relative">
		   <div class="input-group flex items-stretch lg:pr-0">
            <input class="search_key flex-[1] !pr-11" type="text" id="location-input" placeholder="Eg. EC2A 1RS"
              aria-label="Eg. EC2A 1RS" autocomplete="off" />
            <button
              class="search-bar-icon -ml-10 md:-ml-14 bg-searchIcon bg-no-repeat w-10 md:w-14 h-10 md:h-14 bg-center bg-[length:20px_20px] md:bg-[length:30px_30px]" 
              aria-label="Search bar icon" id="search-location-button" type="submit" onclick="this.blur();" data-yext-analytics="searchStore" >
            </button>
          </div> 	
          <div class="flex flex-row text-lg uppercase font-bold text-dark_grey pb-3 border-b border-dark_grey leading-tight mb-5">
            <img
              src="https://www.christofle.com/fstrz/r/s/www.christofle.com/static/version1655714884/frontend/Christofle/luma/fr_FR/images/icons/pin-boutique.svg?frz-v=4825"
              width="28" height="28" class="d-inline-block marg-r-10 lazyloaded mCS_img_loaded" alt=""
              data-frz-src="https://www.christofle.com/fstrz/r/s/www.christofle.com/static/version1655714884/frontend/Christofle/luma/fr_FR/images/icons/pin-boutique.svg?frz-v=4825">
            <h4 class="ml-2.5 leading-8 LocatorTitle"></h4>
          </div>
          <div class="directions "></div>		 
          <div class="error-text "></div>
        </div>
        <div class="spinner" style="display: none;">
          <div class="sk-wave">
            <div class="sk-rect sk-rect1"></div>
            <div class="sk-rect sk-rect2"></div>
            <div class="sk-rect sk-rect3"></div>
            <div class="sk-rect sk-rect4"></div>
            <div class="sk-rect sk-rect5"></div>
          </div>
        </div>

        <div
          class="result-list lg:h-[calc(100vh_-_100px)] lg:max-h-[calc(100vh_-_100px)] lg:pb-[46px] lg:overflow-x-hidden lg:overflow-y-auto">
          <div class="result-list-inner">
          </div>

          <div class="viewMoreBtnDiv text-center pt-2 md:pt-0" style="">
            <button id="viewMoreBtn"
              class="text-sm leading-[22px] py-1.5 font-semibold text-red px-6 rounded-sm border border-red inline-flex items-center transition-all duration-300 group hover:text-white hover:bg-red mt-5 mb-3 ViewMore">
               </button>
            <input type="hidden" id="offset" value="0">
            <input type="hidden" id="totalCount" value="0">
          </div>
        </div>
      </div>
      <div class="w-full lg:w-[calc(100%_-_480px)] xl:w-[calc(100%_-_540px)] relative order-1 lg:order-2">
        <div
          class="xl:absolute xl:top-2.5 xl:right-2.5 border border-[#f2f2f2] xl:border-none p-4 pt-0 pb-0 xl:p-0 bg-white z-20 flex flex-col md:flex-row lg:flex-col xl:flex-row lg:justify-end">
          <div class="flex flex-wrap xl:flex-row items-center">
            <div class="filtering w-full md:w-auto lg:w-1/3 xl:w-auto mr-5 lg:mr-0"></div>
            <div class="filtering2 w-full md:w-auto lg:w-1/3 xl:w-auto mr-5 lg:mr-0"></div>
            <div class="filtering3 w-full md:w-auto lg:w-1/3 xl:w-auto mr-5 lg:mr-0"></div>
            <button id="location-input"
              class="bg-black hidden text-white py-2 px-3 border-8 border-white text-sm uppercase"></button>
          </div>
          <div class="w-full ml-auto md:w-auto lg:w-full xl:w-auto">
            <button id="data"
              class="bg-red hover:bg-black transition-all duration-300 capitalize text-white py-2 px-3 border-8 border-white text-base xl:ml-3 w-full xl:w-auto Filter disabled:">
              
            </button>
          </div>
        </div>
        <div id="map" class="w-full h-[420px] lg:h-[calc(100%_-_110px)] xl:h-full mt-5 lg:mt-0"></div>
      </div>
    </div>
  </div>
</div>

<div id="js-locator" data={{global.liveApiKey}}>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  window.mapsLoader && window.mapsLoader.then(() => {
    const script = document.createElement('script');
    script.src = '{{global.baseUrl}}/locator.js';
    script.async = true;
    script.defer = true;
    script.type = 'text/javascript';
    document.getElementById('js-locator').appendChild(script);
  })
    .catch(() => alert('Could not load Google Maps. Please check that your API key is valid.'));
</script>
